In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
from citipy import citipy
# Import the API key.
from config import g_key

# Import the requests library.
import requests

from datetime import datetime
import time
from scipy.stats import linregress

In [2]:
# Store the CSV you saved created in part two into a DataFrame.
vacationItinerary_df = pd.read_csv("weather_data/WeatherPy_vacation.csv", index_col = 0)
vacationItinerary_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
2,Faanui,PF,81.45,overcast clouds,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
3,Rikitea,PF,77.20,broken clouds,-23.12,-134.97,Pension Maro'i
4,Cape Town,ZA,68.00,few clouds,-33.93,18.42,Southern Sun Waterfront Cape Town
5,Sampit,ID,75.43,overcast clouds,-2.54,112.95,Aquarius Boutique Hotel Sampit
6,Biltine,TD,62.91,clear sky,14.53,20.93,Hôtel Trois Étoiles de Biltine
8,Busselton,AU,57.00,clear sky,-33.64,115.35,Observatory Guest House
9,Adrar,DZ,50.00,overcast clouds,27.87,-0.29,s.e.t.setif entenne d'adrar
10,Lebu,ET,59.00,few clouds,8.96,38.73,Dah-Lak Guest House
11,Quelimane,MZ,80.51,overcast clouds,-17.88,36.89,Hotel Flamingo
14,Port Alfred,ZA,72.00,overcast clouds,-33.59,26.89,The Halyards Hotel

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
#filter four picked cities (1 of 4)

Shuiji_df = vacationItinerary_df[vacationItinerary_df["City"]== "Shuiji"]
Shuiji_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
57,Shuiji,CN,54.16,broken clouds,27.42,118.34,Century Hotel

In [5]:
#filter four picked cities (2 of 4)

Dongsheng_df = vacationItinerary_df[vacationItinerary_df["City"]== "Dongsheng"]
Dongsheng_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
525,Dongsheng,CN,45.39,overcast clouds,29.72,112.52,Xianghong Hotel

In [6]:
#filter four picked cities (3 of 4)

Huilong_df = vacationItinerary_df[vacationItinerary_df["City"]== "Huilong"]
Huilong_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
280,Huilong,CN,47.28,overcast clouds,31.15,106.5,Huilong Hostel

In [7]:
#filter four picked cities (4 of 4)

Enshi_df = vacationItinerary_df[vacationItinerary_df["City"]== "Enshi"]
Enshi_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
535,Enshi,CN,40.03,light rain,30.29,109.48,Moevenpick Enshi

In [8]:
CNcities_df = vacationItinerary_df.loc[vacationItinerary_df["City"].isin(["Shuiji","Dongsheng","Huilong","Enshi"])]
CNcities_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
57,Shuiji,CN,54.16,broken clouds,27.42,118.34,Century Hotel
280,Huilong,CN,47.28,overcast clouds,31.15,106.50,Huilong Hostel
525,Dongsheng,CN,45.39,overcast clouds,29.72,112.52,Xianghong Hotel
535,Enshi,CN,40.03,light rain,30.29,109.48,Moevenpick Enshi

In [9]:
#create longtititue and latitude pairs 
CNcities_lng_lat = CNcities_df[["Lat","Lng"]]
CNcitiesT = [tuple(x) for x in CNcities_lng_lat.values]
CNcitiesT

[(27.42, 118.34), (31.15, 106.5), (29.72, 112.52), (30.29, 109.48)]

In [10]:
#create lat lng values for each city using tuple (1 of 4)

Shuiji_lat_lng = Shuiji_df[["Lat", "Lng"]]
ShuijiT = [tuple(x) for x in Shuiji_lat_lng.values]
ShuijiT

[(27.42, 118.34)]

In [11]:
#create lat lng values for each city using tuple (2 of 4)

Huilong_lat_lng = Huilong_df[["Lat", "Lng"]]
HuilongT = [tuple(x) for x in Huilong_lat_lng.values]
HuilongT

[(31.15, 106.5)]

In [12]:
#create lat lng values for each city using tuple (3 of 4)

Dongsheng_lat_lng = Dongsheng_df[["Lat", "Lng"]]
DongshengT = [tuple(x) for x in Dongsheng_lat_lng.values]
DongshengT

[(29.72, 112.52)]

In [13]:
#create lat lng values for each city using tuple (4 of 4)

Enshi_lat_lng = Enshi_df[["Lat", "Lng"]]
EnshiT = [tuple(x) for x in Enshi_lat_lng.values]
EnshiT

[(30.29, 109.48)]

In [21]:
#create a direction map

#ShuijiD = Shuiji_df[["Lat", "Lng"]].apply(tuple)
#HuilongD = Huilong_df[["Lat", "Lng"]].apply(tuple)
#DongshengD = Dongsheng_df[["Lat", "Lng"]].apply(tuple)
#EnshiD = Enshi_df[["Lat", "Lng"]].apply(tuple)

ShuijiD = (27.42, 118.34)
HuilongD = (31.15, 106.5)
DongshengD = (29.72, 112.52)
EnshiD = (30.29, 109.48)
fig = gmaps.figure()
#map the drive to the four picked cities 
driving_directions = gmaps.directions_layer(ShuijiD, HuilongD, waypoints=[DongshengD, EnshiD], travel_mode='DRIVING')
fig.add_layer(driving_directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [16]:
# Store the DataFrame Row.
hotels = [info_box_template.format(**row) for index, row in CNcities_df.iterrows()]

In [17]:
#set the pop-up marker for each city in the vacation itinerary

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = CNcities_df[["Lat", "Lng"]]
# max_temp = CNcities_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
           #  max_intensity=300, point_radius=4)
    
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
# hotels = [info_box_template.format(**row) for index, row in CNcities_df.iterrows()]
marker_layer = gmaps.marker_layer(locations, info_box_content= hotels)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))